body {
    font-family: 'Domine', serif;
    ;
    background: url('https://cdn.pixabay.com/photo/2016/11/22/22/25/abs-1850926_960_720.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.left {
    /* border: 2px solid red;*/
    display: inline-block;
    position: absolute;
    left: 44px;
    top: 43px;

}

.mid {
    /* border: 2px solid green;*/
    display: block;
    width: 37%;
    margin: 20px auto;
}

.right {
    width: 192px;

    display: inline;
    position: absolute;
    left: 1324px;
    top: 42px;
}

.navbar li {
    display: inline;
    padding-left: 7px;
    padding-right: 7px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar li a:hover {
    text-decoration: underline;
    color: grey;
}

.left img {
    width: 83px;
    height: 72px;
    filter: invert(100%);

}

#btn2 {
    float: right;
}

.btn {
    color: white;
    background: black;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Domine', serif;
    font-size: 15px;
}

.btn:hover {
    background-color: gray;
}

.container {
    border: 2px solid white;
    width: 33%;
    margin: 106px 80px;
    border-radius: 28px;
    padding: 59px;
    height: 330px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    margin: auto;
    width: 317px;

}

.form-group input {
    text-align: center;
    display: block;
    margin: 11px auto;
    padding: 9px;
    border: 2px solid black;
    width: 317px;
    font-size: 14px;
    font-family: 'Domine', serif;
}